Package: xyz.royalapps.cleanhomescreen
Name: CleanHomeScreen
Depends: mobilesubstrate,preferenceloader
Architecture: iphoneos-arm
Description: Remove all the clutter from your home screen and lock screen!
Maintainer: Justin Proulx
Author: Justin Proulx
Section: Tweaks
Version: 1.0.4
Installed-Size: 348
